<div class="page-header">
<h1>Tüm Durumlar</h1>
<%= link_to "Yeni gugile bildir" , new_status_path,class: "btn-success btn-sm" %>
</div>

<% @statuses.each do |status| %>
  <div class="status">
      <strong> <%= status.name %></strong>
      <p> <%= status.content %> </p>
      <div class="meta">
          <%= link_to time_ago_in_words(status.created_at) ,status %>
          <span class="admin">
        | <%= link_to "Düzenle" , edit_status_path(status) %> |
          <%= link_to "Sil" , status, method: :delete , data: { confirm: "Silmek istediğine Emin misin?"} %>
          </span>
      </div>
  </div>

<% end %>