// Place all the styles related to the statuses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.status {border-bottom: solid 1px #ccc;
		padding :10px 10px;

}
.status p {
	margin:4px 0;
}
.status .admin {
	display :none;

}
.page-header {padding-bottom:0; margin-bottom:10px;}
.status.hover {
	background:#fafafa;
	cursor:pointer;
}
.status.hover .admin {
	display:inline;
}