<!DOCTYPE html>
<html>
<head>
  <title>Treebook</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="navbar navbar-fixed-top">
 	<div class="navbar-inverse" role="navigation">
 			<div class="container">	
 					<a href="#" class="navbar-brand"> Gugile <em>meee!!</em></a>

 					    <ul class="nav navbar-nav">
 					        <li><%= link_to "All Statuses", statuses_path %></li>
 					     
 					    </ul>
 					
 			</div>	
 	</div>
 	</nav>
<div class="container">
<p class="notice"><%= notice %>	</p>
<p calss="alert"><%= alert %>	</p>
<%= yield %>
</div>
</body>
</html>
